// color

$off-black: #20222b;
$dark-gray: #333;
$white: #fff;

$color-primary: #255E69;
$color-primary-dark: #0F444F;
$color-primary-light: #437983;
$color-secondary: #AA8739;
$color-secondary-dark: #805F15;
$color-secondary-light: #D4B46A;
$color-tertiary: #AA4339;
$color-tertiary-dark: #801F15;
$color-tertiary-light: #D4746A;

// spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.1rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// breakpoints

@mixin bp($point) {
  @if $point == desk {
    @media (min-width: 45rem) { @content; }
  }
}